//Orange: #ff551a
//Turquoise blue: #004660

$color-primary: #ff551a;
$color-secondary: #004660;
$color-bg: #dae1eb;
$color-text: #212529;

//global styles
.btn {
	display: inline-block;
	border: none;
	background-color: $color-primary;
	color: #fff;
	padding: 0.5rem 1.5rem;
	border-radius: 50%;
}

// Header section
.container {
	width: 100%;
	min-width: 120rem;
	padding: 0 1.5rem;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 6rem;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	background-color: $color-bg;
	z-index: 9;
}

// nav
#main-nav {
	background: $color-bg;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.logo img {
	max-width: 80%;
}
